// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway");

// Variables
@import "variables";

// Set your brand colors
$blue: #14a9e4;
$dark_blue: #0a6f97;
$gray: #575757;
$light_gray: #858585;
$light_blue: #a4e5ff;
$white: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Raleway", sans-serif;
$grey-dark: $gray;

$white-bis: $light_blue;

$grey-light: $light_gray;
$primary: $blue;
$link: $dark_blue;

$widescreen-enabled: false;
$fullhd-enabled: false;
// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 1px;
// $input-border-color: transparent;
// $input-shadow: none;
$navbar-height: 6rem;

$navbar-item-hover: $grey-dark !default;

// Bulma
@import "./node_modules/bulma/bulma.sass";

//custom
.withImage {
  background-image: url("http://www.urbanestate.nl/images/backgrounds/weezenhof-7.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url("http://www.urbanestate.nl/images/backgrounds/weezenhof-7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.navbar-item img{
    max-height: none!important;
}

$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#wrapper {
    flex: 1;
}
.is-home-logo{
    background-color: white;
    width: 400px;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    -webkit-clip-path: polygon(0 0, 100% 0, 76% 65%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 76% 65%, 0% 100%);
} 

.loginButtonHomepage{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
}

.bm--card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
 }
 .bm--card-equal-height .card-footer {
    margin-top: auto;
 }